main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col{
    border: solid 1px;
    width: 300px;
    margin: 10px;
}

header, footer, main{
    max-width: 1260px;
    margin: auto;
}

header, footer {
    background-color: #ff0020;
}

body, h1{
    margin: 0;
}
/*
.kolo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/